<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I'm a masters student in University of Washington's CLMS (Computational Linguistics) program. I'm also working as a natural language processing researcher at Infoscitex.
</br>
</br>
Most of my work involves helping machines understand human language. I work on a variety of projects, including machine translation, question answering, and information extraction. I have also worked on projects involving natural language generation, sentiment analysis, and text summarization. I have an interest in low resource languages, having worked with Siberian Yupik, a language spoken by less than 1000 people. 

</br>
</br>
Currently, I'm working on automatic transcription systems for specific domains of English.
</br>
</br>
Have questions or suggestions? Feel free to contact me on Twitter or find me on LinkedIn.
Thanks for reading!

</div>